.FeedPage {
    display:flex;
    flex-direction: row;
}

.settings {
    min-width: 256px;
    border-right: 2px solid black;
    display:flex;
}

@media (max-width:825px) {
    .settings {
        min-width:50px;
        display:flex; 
        justify-content:center; 
    }
}
  
.feed-side {
    flex: 1;
    max-width: 768px;
    border-right: 2px solid black;
}