.FeedPage {
    display:flex;
    flex-direction: row;
}

.settings {
    width: 250px;
    border-right: 1px solid gray;
    min-width:50px;
    
    /* align-items:center; */
}
@media (max-width:825px) {
    .settings {
        width:50px;
        display:flex; 
        justify-content:center; 
    }
}
  
.feed {
    flex: 1;
    width: 640px;
    /* display:flex; */
    /* justify-content:center; */
    /* align-items:center; */
}