.UserPage { border-right: var(--border); }
.profile-section {
    border-bottom: var(--border);
    height:fit-content;
    min-height:200px;
    width:768px;
}
.profile-img {
    height:128px;
    border-radius:70px;
}
.profile-page-wrapper {
    padding-inline:64px;
    padding-block:32px;
}
.data-panel {
    flex-direction:column;
    margin-left:64px;
}
.follow-data, .misc-actions, .data-panel, .profile-page-wrapper {
    display:flex;
}
.misc-actions {
    align-items:center;
    /* justify-content:center; */
}

.follow-button:hover, .user-settings {
    cursor:pointer;
}
.head-username {
    font-size:20px;
    height:fit-content;
    
}
.misc-actions {
    height:35px;
    /* margin-bottom:10px; */
}
.following-count {
    margin-left:20px;
}

.follow-button {
    outline:var(--border);
    border-radius:5px;
    padding-inline:5px;
}

.follow-button:hover{
    background:#D9D9D9;
}
.user-settings-button {
    max-height:50px;
    width:25px;
    fill:var(--icon-fill);
    /* fill:green; */
    cursor:pointer;
}
.user-utils {
    width:fit-content;
    margin-left:20px;
    display:flex;
    /* align-items */
}

.user-more-info {
    margin-top:10px;
    display:flex;
    flex-direction:column;
}
.user-more-info-display-name {
    font-size:15px;
}
.user-more-info-bio {
    font-size:14px;
}
