.modal-overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
}

.modal {
    z-index:9999;
    border:2px solid white;
    padding: 20px;
    border-radius: 5px;
    background:white;
}

textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    overflow-y: auto;
}

.character-count {
    font-size:12px;
    color:gray;
    margin-top:5px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.modal-buttons button {
    margin-left: 10px;
}
