.CreatePost {
    min-height:119px;
    display:flex;
    align-items:center;
}
.compose-post {
    height:30px;
    border:none;
    border-bottom: var(--border);
    padding: 10px;
    border-radius:0px;
    resize: none;
    outline:none;
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    background-color:transparent;
    width:100%;
    color:var(--text-colour);
}
.counter {
    font-weight:600;
    font-size:12px;
    text-align:right;
    width:85%;
    height:40px;
}
.write-and-submit-wrapper {
    width:80%;
    position:relative;
    display:flex;
    flex-direction:column;
}
.compose-wrapper {
    width:100%;
    padding-block:10px;
    /* padding:10px; */
}
.submit-post {
    justify-content:center;
    text-align:center;
    width:75px;
    border:var(--border);
    border-radius:10px;
    cursor:pointer;
    height:25px;
}
.submit-post:hover {
    opacity:50%;
}

.utils {
    /* border:1px solid red; */
    display:flex;
    width:80%;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}
.compose-icon-wrapper {
    width:20%;
}
.post-compose-icon {
    width:20px;
    height:20px;
    fill:var(--icon-fill);
    margin-right:10px;
    position:relative;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
}
.display-image {
    display:content;
    position:relative;
    height:50px;
    width:50px;
    border-radius:50px;
    left:100%;
    transform:translateX(-100%);
}
.display-image-wrapper {
    display:flex;
    width:10%;
}
.compose-top-bar {
    display:flex;
    width:100%;
    position:relative;
    left:calc(50%);
    transform:translateX(-50%);
}
.disabled-post-button:hover {
    cursor:not-allowed;
    pointer-events: none;
}

.image-upload-wrapper {
    
    display:flex;
    justify-content:center;
}
.media-upload {
    margin-block:20px;
    max-width:500px;
    max-height:500px;
    object-fit:contain;
}
.text-and-post-wrapper {
    display:flex;
    align-items:baseline;
}

.carousel-control {
    height:30px;
    width:30px;
    fill:var(--icon-fill);
    margin-inline:20px;
}
.carousel {
    display:flex;
    align-items:center;
}
.carousel-control-wrapper:hover{
    cursor:pointer;
}
.carousel-control-wrapper {
    height:100%;
    display:flex;
    align-items:center;
}