.HomePageSettings {
    position:fixed;
    display:flex;
    height:100%;
    z-index:1;
}
.HomePageSettings, .settings-wrapper{
    width:256px;
}
.settings-wrapper {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1;
    height:100%;
    border-right:var(--border);
    z-index:3;
    background:var(--background-colour);
}
.settings-wrapper div:last-child {
    margin-top: auto;
}
.setting-option:hover {
    cursor:pointer;
    background:rgba(240, 240, 240, 0.2);
    border-radius:10px;
}

.settings-wrapper div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height:56px;
    width:inherit;
}

.icon{
    width:25px;
    height:25px;
    margin:5px;
    /* margin-right:8px; */
    padding:5px;
    fill:var(--icon-fill);
}
/* --halfsize */
@media (max-width: 1024px) {
    .icon-description {
        display:none !important;
    }
    .HomePageSettings, .settings-wrapper{
        width:56px;
    }
}
.yuzu {
    min-height:175px;
    display:flex;
    justify-content:center;
}
.yuzu > .setting-option {
    max-width:100px;
    margin-top:0px !important; 

    /* display:flex; */
}

.icon-description {
    width:fit-content;
    max-height:25px;
    margin-top:0px !important;
}
.setting-option {
    width:fit-content;
    display:flex;
    justify-content:center;
    align-items:center;
}
.yuzu-logo {
    max-width:fit-content;
    font-family: 'Hiragino Kaku Gothic Std', "ヒラギノ角ゴ ProN W3", Meiryo, 'MS PGothic', Sans-serif;
}
.more {
    margin-bottom:10px;
    border: none;
    border-bottom:none;
}

.overlay {
    position: relative;
    top: 0;
    left: -1px;
    width: 250px;
    height: 100%;
    background-color: var(--background-colour);
    z-index: 999;
    opacity:0;
    /* pointer-events: none; */
    transition: opacity 0.3s ease-in-out, z-index 0.5ms ease-in-out;
    border:var(--border)
}

.sidebar-open {
    pointer-events:all;
    opacity:1;
    right: 0; 
    z-index:2;
}
  

.search-wrapper {
    width: 256px;
    height: 100%;
    position:relative;
    left: -2px;
    transition: left 0.3s ease-in-out; 
}

.search-wrapper.hidden{
    left: -258px;
    transition: left 0.3s ease-in-out;
}

.options-button-hamburger{
    outline:none;
}
.yuzu > div {
    border:none;
}
.yuzu {
    border-bottom:var(--border)
}
.setting-option {
    max-height:90%;
    max-width:90%;
    margin-top:0px !important; 
}
.icon-wrapper {
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom:none;
    /* border-bottom: var(--border); */
}
.yuzu:hover >.setting-option {
    background:none !important;
}