.HomePageSettings {
    position:fixed;
    display:flex;
    height:100%;
}
.HomePageSettings, .settings-wrapper{
    width:256px;
}
.settings-wrapper {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    flex-grow:1;
    height:100%;
    /* width:auto; */
    min-width:50px;
}
.settings-wrapper div:last-child {
    margin-top: auto;
}
.setting-option:hover {
    cursor:pointer;
}

.settings-wrapper div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height:56px;
    width:inherit;
}
.settings-wrapper > div {
    border-bottom: 2px solid black;
}
.icon{
    width:25px;
    margin:5px;
    padding:5px;
}
@media (max-width: 825px) {
    .icon-description {
        display:none !important;
        outline:1px solid red;
    }
    .HomePageSettings, .settings-wrapper{
        width:50px;
    }
}
.yuzu {
    /* padding-bottom:50px;  */
    min-height:175px;
    display:flex;
    justify-content:center;
    border-right:2px solid black;
}
.yuzu > .setting-option {
    max-width:100px;
    margin-top:0px !important; 

    /* display:flex; */
}
.icon-description {
    width:fit-content
}
.setting-option {
    width:fit-content;
}
.yuzu-logo {
    max-width:fit-content;
    font-family: 'Hiragino Kaku Gothic Std', "ヒラギノ角ゴ ProN W3", Meiryo, 'MS PGothic', Sans-serif;
}
.more {
    margin-bottom:20px;
    border: none;
    border-bottom:none;
}
.sidebar-open {
    right: 0; 
}
.overlay {
    position: fixed;
    top: 0;
    left: 45px;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    opacity:0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, z-index 0.5ms ease-in-out;
}

.sidebar-open {
    pointer-events:all;
    opacity:1;
}
  