.post {
  position:relative;
  border-bottom: var(--border);
  width: 768px; 
  z-index:0;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-profile {
  display: flex;
  /* align-items: center; */
  padding:10px;
}

.profile-image {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  overflow: hidden; 
}

.initials {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}



.created-date {
  font-size: 12px;
  color: #777;
  display:flex;
  align-items:center;
}

.post-actions {
  display: flex;
  align-items: center;
  height:40px;
  position:relative;
  left:67px;
  width:670px;
  margin:10px;
}
  
.action-info {
  display: flex;
  align-items: center;
  width:inherit;
}
.action-info div:last-child{
  margin-left:auto;
}

.action-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.count {
  font-weight: bold;
  font-size:16px;
  margin-inline:12px;
  width:50px;
}
  
.action-label {
  font-size: 12px;
  color: #777;
}

.post-content {
  font-size:14px;
  line-height:115%;
  background:var(--post-background-colour);
  position:relative;
}
.post-content-shadow, .post-content {
  min-height:55px;;
  width:600px;
  border:var(--post-border);
  padding:10px;
}
.post-content:hover {
  cursor:pointer;
}
.post-content-shadow {
  position:relative;
  z-index:-1;
  background:var(--shadow-colour);
  top:-70px;
  left:10px;
}



.content-wrapper{
  height:80px;
  width:600px;
  left:67px;
  position:relative;
  top:-10px;
}
  
.like-button,
.comment-button,
.share-button,
.settings-button, .save-button{
  background-color:#ffffff00;
  width:25px;
  height:25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding:5px;
  display:flex;
  justify-content:center;
}
.save-button > img {
  height:25px;
  display:flex;
  position:relative;
}
.post-info {
  position:relative;
  top:-10px;
  width:fit-content;
  display:flex;
  margin-right:20px;
}
.name{
  height:52px;
}
.display-name{
  font-weight:900;
}
.username {
  position:relative;
  top:-5px;
  font-size:12px;
}
.display-name:hover{
  cursor:pointer;
  text-decoration:underline;
  text-decoration-thickness:2px;
}
.ellipsis {
  width:25px;
  height:25px;
  margin-left:20px;
  padding:3px;
  /* transition: background-color 0.2s ease, fill 1s, ease; */
  /* border-radius:30px; */
}
.ellipsis:hover {
  cursor:pointer;
  background:rgba(0, 186, 124, 0.2);
  fill:rgba(0, 186, 124, 1);
  /* opacity:50%; */
}
.post-action-button, .ellipsis {
  display:flex;
  
  justify-content:center;
  align-items:center;
  border-radius:30px;
  transition: background-color 0.2s ease-in-out, fill 0.2s ease;
}
.post-action-button > svg {
  height:25px;
  width:25px;
}
.save-button:hover {
  background:rgba(10,158,199,0.2);
  fill:rgba(10,158,199,1);
}
.unliked:hover{
  background: rgba(249, 24, 128, 0.2);
  fill:rgba(249, 24, 128, 1);
}
.liked:hover {
  background: rgba(249, 24, 128, 0.2);
}
.liked {
  fill:rgba(249, 24, 128, 1);
}
.unliked:hover ~ .like-count, .liked-count, .unliked:hover{
  color:rgba(249, 24, 128, 1);
}

.post-action-button:active > svg{
  height:23px;
  width:23px;
}
.count {
  cursor:default;
}
.comment-button:hover, .share-button:hover {
  background: rgba(86, 81, 83, 0.2);
  fill:rgba(86, 81, 83, 1);
}

.comment-button, 
.unliked, 
.ellipsis, 
.save-button, 
.share-button {
  fill:var(--icon-fill);
}