.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 600px; 
  }
  
  .post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    overflow: hidden; /* Clip the alt text */
  }
  
  .initials {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .username {
    font-weight: bold;
  }
  
  .created-date {
    font-size: 12px;
    color: #777;
  }
  
  .post-actions {
    display: flex;
    align-items: center;
  }
  
  .action-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .action-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .count {
    font-weight: bold;
  }
  
  .action-label {
    font-size: 12px;
    color: #777;
  }
  
  .post-content {
    min-height:30px;
    margin-top: 5px;
    
  }
  
  /* Additional styling for buttons */
  .like-button,
  .comment-button,
  .share-button,
  .settings-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .like-button:hover,
  .comment-button:hover,
  .share-button:hover,
  .settings-button:hover {
    background-color: #0056b3;
  }
  