.rendered-user-search-result {
    display:flex;
    width:100%;
    margin-bottom:10px;
    border-radius:30px 17px 17px 30px;
    transition: background 0.15s ease-in-out;
}
.rendered-user-search-result:hover {
    background:var(--hover-colour);
    cursor:pointer;
}
.profile-image-search {
    width:50px;
    border-radius:50px;
}
.username-details {
    margin-left:12px;
    display:flex;
    flex-direction:column;
}
.display-name-search {
    position:relative;
    min-height:24px;
    font-size:12px;
    top:-4px;
    color:#5c5c5c;
}
.username-search {
    font-size: 16px;
}
.display-name-search, .username-search {
    height:fit-content;
}
