body {
    margin:0;
}
.settings {
    min-width: 256px;
    display:flex;
}
/* --halfsize */
@media (max-width:1024px) {
    .settings {
        min-width:50px;
        display:flex; 
        justify-content:center; 
    }
}
  
.App {
    display:flex;
    flex-direction: row;
}

.feed-side {
    flex: 1;
    max-width: 768px;
    border-right: var(--border);
}
.location-title {
    /* position:sticky; */
    top:0;
    border:var(--border);
    border-top:none;
    padding:15px;
    background:var(--background-colour);
    opacity:90%;
    z-index:1;
}