@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Poppins:ital,wght@0,500;1,400;1,500;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap'); */

:root {
    
    /* --background-colour:#f7f8fc; */
    --background-colour-light:white;
    --background-colour-dark:black;
    --icon-fill-colour-light:black;
    --icon-fill-colour-dark:white;
    --colour-light: black;
    --colour-dark: white;
    /* color-scheme: dark; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --border: 2px solid rgb(66, 66, 66);
    --halfsize:1024px;
    --font: 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ ProN W3", Meiryo, 'MS PGothic', Sans-serif;
    /* background:var(--background-colour); */
    font-size: 16px;
    line-height: 24px;
    height:auto;
    font-family: 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ ProN W3", Meiryo, 'MS PGothic', Sans-serif;
    font-weight: 600;
}
body.light{
    --background-colour:var(--background-colour-light);
    background: var(--background-colour-light);
    --icon-fill: var(--icon-fill-colour-light);
    color: var(--colour-light);
    --text-colour: var(--colour-light);
    --shadow-colour:#D9D9D9;
    --post-border:2px solid black;
    --post-background-colour:white;
    --button-hover: 2px solid black;
    --hover-colour:rgba(0,0,0,0.05)

}
body.dark{
    --background-colour:var(--background-colour-dark);
    background: var(--background-colour-dark);
    --icon-fill: var(--icon-fill-colour-dark);
    color: rgb(231, 233, 234);
    --text-colour: var(--colour-dark);
    --shadow-colour:rgba(255, 255, 255, 0.2);
    --post-border:2px solid rgb(190, 186, 186);
    --post-background-colour:rgb(0, 0, 0);
    --button-hover: 2px solid white;
    --hover-colour:rgba(255,255,255,.1);
}


input {
    font-family: 'Hiragino Kaku Gothic ProN', "ヒラギノ角ゴ ProN W3", Meiryo, 'MS PGothic', Sans-serif;
    font-weight: 600;
}
.loading {
    position: relative;
}
  
.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    animation: spin 1.25s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
  
body {
    margin:0;
}